<style>

.TopBar {
width:80%;
height:20vh;
background-color: gold;
position:fixed;
top:0;
left:0;
}

.TopBar_Text {
padding:4vh 4vh 1vh 4vh;
}

.SideBar {
width:20%;
height:100%;
background-color:green;
position:fixed;
top: 0;
right: 0;
}

.BodyBox {
top:20vh;
height:100%;
width:80%;
left:0;
position:fixed;
background-color:gray;
}

//</style>
